### Name: Chinedu Onyeka
### Course: DATA1203 - Business Analysis and Assessments: Assessment 3

#### Data Source: https://www.gunviolencearchive.org/; "Verifiable mass shootings incidents in the US in the year 2020"

In [1]:
# Import required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter
import seaborn as sns
%matplotlib inline

In [2]:
# Load the data from github repo:

url = "https://raw.githubusercontent.com/chinedu2301/DC_Analytics/main/mass_shooting_2020_usa.csv"
mass_shooting_df = pd.read_csv(url, parse_dates = ['Incident Date']) # parse_dates converts the week_end column to datetime
mass_shooting_df.head(n = 10)

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1891461,2020-12-31,Indiana,Indianapolis,8215 Center Run Road,1,3,NaN
1,1890946,2020-12-31,Oregon,Happy Valley,9200 block of SE Idleman Rd,0,4,NaN
2,1886974,2020-12-26,Illinois,Rockford,4007 E State St,3,3,NaN
3,1886913,2020-12-26,Florida,Tampa,N 20th St and E 7th Ave,2,2,NaN
4,1887059,2020-12-26,Massachusetts,Lynn,Washington St and Quincy Ter,1,5,NaN
5,1886849,2020-12-26,Florida,Miami,NW 61st St and NW 13th Ave,1,3,NaN
6,1886372,2020-12-25,Florida,Boynton Beach,Martin Luther King Jr Blvd and N Seacrest Blvd,1,4,NaN
7,1886721,2020-12-25,Arkansas,Atkins,5180 Pine Ridge Rd,5,0,NaN
8,1886141,2020-12-24,Florida,Lakeland,1500 block of Amos Ave,1,4,NaN
9,1885251,2020-12-22,Mississippi,Meridian,Jeffrey Acres Rd,5,0,NaN

In [3]:
# Check to see the data type of each variable
mass_shooting_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Incident ID     611 non-null    int64
 1   Incident Date   611 non-null    datetime64[ns]
 2   State           611 non-null    object
 3   City Or County  611 non-null    object
 4   Address         610 non-null    object
 5   # Killed        611 non-null    int64
 6   # Injured       611 non-null    int64
 7   Operations      0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 38.3+ KB

In [4]:
# Check the summary statistics
mass_shooting_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Incident ID,611.0,1.744327e+06,73627.354182,1585394.0,1693293.0,1739658.0,1799887.0,1908063.0
# Killed,611.0,8.412439e-01,1.173198,0.0,0.0,0.0,1.0,7.0
# Injured,611.0,4.162029e+00,2.032103,0.0,3.0,4.0,5.0,21.0
Operations,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# replace all the spaces in the column names with underscores
mass_shooting_df.columns  = [c.replace(' ', '_') for c in mass_shooting_df.columns]
mass_shooting_df.columns

Index(['Incident_ID', 'Incident_Date', 'State', 'City_Or_County', 'Address',
       '#_Killed', '#_Injured', 'Operations'],
      dtype='object')

In [6]:
# rename the columns
req_col_new_name = {'Incident_ID':'incident_id', 'Incident_Date':'incident_date', 'State':'state',
                    'City_Or_County': 'city', 'Address':'address', '#_Killed':'no_killed', '#_Injured':'no_injured'}
mass_shooting_df = mass_shooting_df.rename(columns = req_col_new_name)
mass_shooting_df.head(n = 10)

,incident_id,incident_date,state,city,address,no_killed,no_injured,Operations
0,1891461,2020-12-31,Indiana,Indianapolis,8215 Center Run Road,1,3,NaN
1,1890946,2020-12-31,Oregon,Happy Valley,9200 block of SE Idleman Rd,0,4,NaN
2,1886974,2020-12-26,Illinois,Rockford,4007 E State St,3,3,NaN
3,1886913,2020-12-26,Florida,Tampa,N 20th St and E 7th Ave,2,2,NaN
4,1887059,2020-12-26,Massachusetts,Lynn,Washington St and Quincy Ter,1,5,NaN
5,1886849,2020-12-26,Florida,Miami,NW 61st St and NW 13th Ave,1,3,NaN
6,1886372,2020-12-25,Florida,Boynton Beach,Martin Luther King Jr Blvd and N Seacrest Blvd,1,4,NaN
7,1886721,2020-12-25,Arkansas,Atkins,5180 Pine Ridge Rd,5,0,NaN
8,1886141,2020-12-24,Florida,Lakeland,1500 block of Amos Ave,1,4,NaN
9,1885251,2020-12-22,Mississippi,Meridian,Jeffrey Acres Rd,5,0,NaN

In [7]:
# filter the required columns
req_col = ['incident_id', 'incident_date', 'state', 'city', 'address', 'no_killed', 'no_injured']
mass_shooting = mass_shooting_df[req_col]
mass_shooting.head(n = 10)

,incident_id,incident_date,state,city,address,no_killed,no_injured
0,1891461,2020-12-31,Indiana,Indianapolis,8215 Center Run Road,1,3
1,1890946,2020-12-31,Oregon,Happy Valley,9200 block of SE Idleman Rd,0,4
2,1886974,2020-12-26,Illinois,Rockford,4007 E State St,3,3
3,1886913,2020-12-26,Florida,Tampa,N 20th St and E 7th Ave,2,2
4,1887059,2020-12-26,Massachusetts,Lynn,Washington St and Quincy Ter,1,5
5,1886849,2020-12-26,Florida,Miami,NW 61st St and NW 13th Ave,1,3
6,1886372,2020-12-25,Florida,Boynton Beach,Martin Luther King Jr Blvd and N Seacrest Blvd,1,4
7,1886721,2020-12-25,Arkansas,Atkins,5180 Pine Ridge Rd,5,0
8,1886141,2020-12-24,Florida,Lakeland,1500 block of Amos Ave,1,4
9,1885251,2020-12-22,Mississippi,Meridian,Jeffrey Acres Rd,5,0

In [8]:
# Write the cleaned dataset to csv
mass_shooting.to_csv('mass_shooting2020_usa_clean.csv', index = False)